.ctn-atracao{
    width: 20%;
    height: 50vh;
    border: 2px solid #555;
    background-color: #A7A000;
    font-family: "Caesar Dressing", system-ui
}

/*.ctn-atracao > img{
    width: 50%;
    height: 50%;}
*/

.ctn-atracao>p{
    font-size: 2rem;
}

.ctn-atracoes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 75%; /*Para ocupar 3/4 da largura*/
    margin: 2% auto; /*Para centralizar*/
}